html {
  font-size: 100%;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #333;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 3rem;
}

#processbar {
  background-color: #222;
  width: 90%;
  height: 2rem;
  max-width: 1000px;
  margin: 0 50px;
  border-radius: 2rem;
}

#processbarinner {
  background-color: #fff;
  height: 2rem;
  will-change: width;
  border-radius: 2rem;
}

#text {
  margin-bottom: 0;
  font-size: 4rem;
  text-align: center;
  word-break: break-all;
  margin-top: -2rem;
}

#switchcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#modeselect {
  background-color: #222;
  padding: .5rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  display: inline;
}

#title {
  font-size: 3rem;
  font-weight: bold;
}
