body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #333;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

#processbar {
  background-color: #222;
  width: 90%;
  height: 25px;
  max-width: 1000px;
  margin: 50px;
}

#processbarinner {
  background-color: #fff;
  height: 25px;
  will-change: width;
}

#text {
  margin: 50px;
  margin-bottom: 0;
  font-size: 100px;
  text-align: center;
  word-break: break-all;
}

#switchcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#switchcontainerinner {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  justify-content: center;
}

#switchestitle {
  margin-bottom: 10px;
  font-size: 24px;
}

.switch {
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  cursor: pointer;
  margin: 3px;
  background-color: #111;
  border-radius: 3px;
  transition: .2s;
  text-align: center;
}

.switch:hover {
  background-color: #222;
}

#title {
  margin: 0;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
}
